---
import { Icon } from "astro-icon/components";
interface Props {
  text: string;
}
const { text } = Astro.props;
---
<li class="mt-4 mb-4 flex items-center space-x-3 rtl:space-x-reverse">
  <Icon name="ico" class="text-xkale w-auto h-8" />
  <span>{text}</span>
</li>
